/* XL Device :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {}

/* LG Device :992px. */

@media (min-width: 992px) and (max-width: 1200px) {
    .main-menu ul li a {
        font-size: 14px;
        margin-right: 21px;
    }
    .testomonial-wrapper p {
        font-size: 27px;
    }
    .latest-blog-content h5 {
        font-size: 13px;
    }
    .latest-blog-content {
        padding: 43px 30px;
    }
    .blog-meta span {
        font-size: 12px;
        margin-right: 3px;
    }

}


/* MD Device :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    
}

/* Extra small Device. */

@media (max-width: 767px) {

   
}

/* SM Small Device :550px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {}